/* Estilos generales para el fondo de la página */
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  background: url('../fotos/fondo.jpg') no-repeat center center fixed; /* Fondo de la imagen */
  background-size: cover;
}

/* Estilos generales del formulario */
form {
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

h2 {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  margin-top: 40px;
  font-size: 2em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background: #f2f2f2;
}

input[type="submit"] {
  width: 100%;
  background-color: #007BFF;
  color: white;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos generales para el mensaje de éxito (pendiente de revisión) */
.success-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrado en la pantalla */
  background: white;
  padding: 15px 25px; /* Reducir el padding para hacerlo más pequeño */
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 9999; /* Para que esté sobre otros elementos */
  font-size: 14px; /* Reducir el tamaño de la fuente */
  color: #000;
  max-width: 90%;
  width: 350px; /* Reducir el ancho para hacerlo más pequeño */
  border: 2px solid black;
  font-family: Arial, sans-serif;
}

.success-message p {
  margin: 0 0 15px 0;
  font-size: 14px; /* Reducir tamaño de la fuente en el mensaje */
}

.success-message form {
  display: inline-block;
  margin-top: 10px; /* Añadir un poco de espacio arriba del botón */
}

.success-message button {
  padding: 8px 20px; /* Reducir el tamaño del padding */
  background-color: #015e71;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px; /* Reducir tamaño de la fuente */
  transition: background-color 0.3s ease;
}

.success-message button:hover {
  background-color: #014c57; /* Cambio en el color al pasar el cursor */
}

/* Para los mensajes de error */
.error-message {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
